.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none ; 
}

.auth-card {
  width: 360px;
  background: #141414;
  border-radius: 12px;
  padding: 28px;
  box-shadow: 0 0 0 1px #222;
  pointer-events: none;


}

.auth-card input,
.auth-card button,
.auth-card a,
.auth-card select {   
  pointer-events: auto;
}


.auth-title {
    color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.auth-subtitle {
  font-size: 13px;
  color: #a1a1a1;
  margin-bottom: 20px;
}

.auth-label {
    color: white;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}

.auth-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  background: #1c1c1c;
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  color: white;
  outline: none;
}

.auth-input:focus {
  border-color: #555;
}

.auth-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-link {
  font-size: 12px;
  color: #cfcfcf;
  cursor: pointer;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 13px;
}

.auth-btn.primary {
  background: white;
  color: black;
  border: none;
}

.auth-btn.outline {
  background: transparent;
  color: white;
  border: 1px solid #2a2a2a;
}

.auth-footer {
  text-align: center;
  font-size: 12px;
  margin-top: 14px;
  color: #a1a1a1;
}
select.auth-input {
  appearance: auto;
  -webkit-appearance: auto;
  cursor: pointer;
  color: #fff;            /* 👈 force white text */
  background: #1c1c1c;   /* 👈 match auth-input bg */
}

select.auth-input option {
  background-color: #1a1a1a;
  color: #fff;
}